<div class="flex-auto tc">
  {{fa-icon 'bitcoin'}} {{bitcoinBalance}}
</div>
<div class="flex-auto tc">
  @
</div>
<div class="flex-auto">
  ${{bitcoinPrice}}
</div>
<div class="flex-auto tc">
  ==>
</div>
<div class="flex-auto tc">
  {{dollarBalance}}
</div>