<nav class="header shadow-4 db dt-l w-100 border-box pa3 ph5-l fixed top-0">

  {{#link-to 'index' class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l no-underline"}}
      <img src="/images/news-icon.png" class="dib w2 h2 mtn5" alt="News Chips">
      <span class="v-top f4 lh-title b">
        News Chips
      </span>
  {{/link-to}}

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    {{#link-to 'latest' class="link dark-gray f6 f5-l mr3 mr4-l pa2 br2"}}Latest{{/link-to}}
    {{#link-to 'sources' class="link dark-gray f6 f5-l mr3 mr4-l pa2 br2"}}Sources{{/link-to}}
  </div>
</nav>

{{outlet}}

<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2017 <b class="ttu">Galar Systems, Inc</b>., (Powered by webhose.io)</small>
  <div class="tc mt3">
    {{#link-to 'index' title="Github" class="f6 dib ph2 link mid-gray dim"}}GitHub{{/link-to}}
    {{#link-to 'index' title="Terms" class="f6 dib ph2 link mid-gray dim"}}Terms of Use{{/link-to}}
    {{#link-to 'index' title="Contact" class="f6 dib ph2 link mid-gray dim"}}Contact{{/link-to}}
  </div>
</footer>
