<nav class="db dt-l w-100 border-box pa3 ph5-l">

  {{#link-to 'index' class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l"}}
      <img src="/images/news-icon.png" class="dib w2 h2 mtn5" alt="News Chips">
      <span class="v-top f4 lh-title b">
        News Chips
      </span>
  {{/link-to}}
  {{!-- <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
  </a> --}}
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    {{#link-to 'latest' class="link dark-gray f6 f5-l mr3 mr4-l pa2 br2"}}Latest{{/link-to}}
    {{#link-to 'sources' class="link dark-gray f6 f5-l mr3 mr4-l pa2 br2"}}Sources{{/link-to}}
  </div>
</nav>

{{outlet}}
